<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="{{ site.url }}">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ site.url }}/about">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ site.url }}/teaching">Teaching</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ site.url }}/research">Research</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ site.url }}/links">Links</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ site.url }}">En</a> /
    <a class="nav-link" href="{{ site.url }}/hafan">Cy</a>
  </li>
</ul>
<hr/>
