<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="{{ site.url }}/hafan">Hafan</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ site.url }}/about">Amdan</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ site.url }}/teaching">Dysgu</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ site.url }}/research">Ymchwil</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ site.url }}/links">Links</a>
  </li>
  <li class="divider"></li>
  <li class="nav-item">
    <a class="nav-link" href="{{ site.url }}">Eng</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ site.url }}/hafan">Cy</a>
  </li>
</ul>

<hr/>
